%div{:"data-role" => "content"}
  = render :partial => "questions/answered_by.html.haml", :locals => {:answer => answer, :question => @question}
  %a{:href=>question_answer_path(@question, answer, :format => "mobile", :actions => true), :"data-role" => "button", :"data-rel" => "dialog", :"data-transition" => "flip", "data-icon" => "gear", :"data-inline" => "true"}
    actions
.markdown
  = find_and_preserve(shapado_auto_link(markdown(answer.body), :link_users => true))